@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mooli&family=Roboto:wght@300;400;900&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Roboto', sans-serif; */


:root {
  --main-color: #01959a;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  font-family: 'Roboto', sans-serif;
}

html::-webkit-scrollbar {
  width: .4rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #d3d0d0;
  border-radius: 2rem;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #222;
}

p {
  text-align: center;
  font-size: 1rem;
  padding: .5rem 10rem;
  color: #222222b2;
  line-height: 30px;
}

@media screen and (max-width:850px) {
  p {
    text-align: center;
    font-size: 1rem;
    padding: .2rem .5rem;
    line-height: 30px;
  }
}